<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in all_conact %}
    <a href="/chat/{{i[0]}}">{{i[0]}}</a><br>
    {% endfor %}
    <form action="/add_contact" method="post">
        <input type="text" name="contact" placeholder="введи контакт">
        <input type="submit" value="add contact">
    </form>
</body>
</html>